.x120x600 {
  height: 600px;
  width: 120px;
}

.x160x600 {
  height: 600px;
  width: 160px;
}

.x200x200 {
  height: 200px;
  width: 200px;
}

.x250x250 {
  height: 250px;
  width: 250px;
}

.x300x250 {
  height: 250px;
  width: 300px;
}

.x300x600 {
  height: 600px;
  width: 300px;

}

.x336x280 {
  height: 280px;
  width: 336px;
}

.x468x60 {

  height: 60px;
  width: 468px;
}

.x728x90 {
  height: 90px;
  width: 728px;
}

.x970x90 {
  height: 90px;
  width: 970px;
}
