@-ms-viewport {
  width: device-width;
}
@import 'mixins';
@import 'variables';
@import 'fonts';
@import 'sizes';

body,
html {
  padding: 0;
  margin: 0;
}

.container {
  margin: 0;
  padding: 0;
  position: relative;
}
